body {
  background: url("/bg.png");
  background-size: 10%;
}

p {
  font-family: Sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
span {
  font-weight: strong;
}
div {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
img {
  padding: 20px;
  width: 60%;
}
