body {
  background: url("https://i.pinimg.com/originals/64/34/44/643444844bb11027e786e25db8911d75.jpg");
  background-size: 10%;
}

p {
  width: 500px;
  font-family: Sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
span {
  font-weight: strong;
}
div {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 20px;
  text-align: center;
}
img {
  padding: 20px;
  width: 60%;
}
