@import url("https://brick.freetls.fastly.net/EB+Garamond:400,400i/Open+Sans:400,700");

p {
  width: 500px;
  font-family: Open Sans;
}
span {
  font-weight: strong;
}
div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 20px;
}
